<header class="layout-header">

    <div class="sticky-navbar">
        <div class="sticky-navbar__fixed">
            <div class="sticky-navbar__container">
                <a href="/" class="logo" title="Home"></a>
                <nav class="nav-horizontal">
                    <a class="nav-horizontal__link" href="#">Homepage</a>
                    <a class="nav-horizontal__link" href="#">About</a>
                    <a class="nav-horizontal__link" href="#">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>
